:root {
    --theme-body-dynamic-color-1: #fff;
    --theme-body-dynamic-color-1--rgb: 255,255,255;
    --theme-body-dynamic-color-2: #e6e6e6;
    --theme-body-dynamic-color-2--rgb: 230,230,230;
    --theme-page-dynamic-color-1: #000;
    --theme-page-dynamic-color-1--rgb: 0,0,0;
    --theme-page-dynamic-color-1--inverted: #fff;
    --theme-page-dynamic-color-1--inverted--rgb: 255,255,255;
    --theme-page-dynamic-color-2: #3a3a3a;
    --theme-page-dynamic-color-2--rgb: 58,58,58;
    --theme-sticky-nav-dynamic-color-1: #000;
    --theme-sticky-nav-dynamic-color-1--rgb: 0,0,0;
    --theme-sticky-nav-dynamic-color-2: #3a3a3a;
    --theme-sticky-nav-dynamic-color-2--rgb: 58,58,58;
    --theme-link-dynamic-color-1: #000;
    --theme-link-dynamic-color-1--rgb: 0,0,0;
    --theme-link-dynamic-color-2: #3a3a3a;
    --theme-link-dynamic-color-2--rgb: 58,58,58;
    --theme-accent-dynamic-color-1: #fff;
    --theme-accent-dynamic-color-1--rgb: 255,255,255;
    --theme-accent-dynamic-color-2: #e6e6e6;
    --theme-accent-dynamic-color-2--rgb: 230,230,230;
    --theme-body-background-color: #286cab;
    --theme-body-background-color--rgb: 40,108,171;
    
    --theme-body-text-color: #fff;
    --theme-body-text-color--rgb: 255,255,255;
    --theme-body-text-color--hover: #cccccc;
    --theme-sticky-nav-background-color: #ffffff;
    --theme-sticky-nav-background-color--rgb: 255,255,255;
    --theme-sticky-nav-text-color: #000;
    --theme-sticky-nav-text-color--hover: #333333;
    --theme-page-background-color: #ffffff;
    --theme-page-background-color--rgb: 255,255,255;
    --theme-page-background-color--secondary: #f2f2f2;
    --theme-page-background-color--secondary--rgb: 242,242,242;
    --theme-page-text-color: #3a3a3a;
    --theme-page-text-color--rgb: 58,58,58;
    --theme-page-text-color--hover: #6d6d6d;
    --theme-page-text-mix-color: #9d9d9d;
    --theme-page-text-mix-color-95: #f5f5f5;
    --theme-page-accent-mix-color: #b6b6b6;
    --theme-page-headings-font: 'Rubik';
    --theme-link-color: #8a8a8a;
    --theme-link-color--rgb: 138,138,138;
    --theme-link-color--hover: #565656;
    --theme-link-label-color: #000;
    --theme-accent-color: #6c6c6c;
    --theme-accent-color--rgb: 108,108,108;
    --theme-accent-color--hover: #9f9f9f;
    --theme-accent-label-color: #fff;
    --theme-border-color: #cecece;
    --theme-border-color--rgb: 206,206,206;
    --theme-alert-color: #bf0017;
    --theme-alert-color--rgb: 191,0,23;
    --theme-alert-color--hover: #59000a;
    --theme-alert-color--secondary: #bf0017;
    --theme-alert-label: #fff;
    --theme-warning-color: #cf721c;
    --theme-warning-color--rgb: 207,114,28;
    --theme-warning-color--secondary: #ce711b;
    --theme-warning-label: #000;
    --theme-success-color: #0c742f;
    --theme-success-color--rgb: 12,116,47;
    --theme-success-color--secondary: #0c742f;
    --theme-success-label: #fff;
    --theme-message-color: #753369;
    --theme-message-label: #fff;
    --theme-community-header-color: #000000;
    --theme-community-header-color--hover: #333333;
    --theme-background-image-opacity: 100%;
    --theme-page-text-opacity-factor: 0.85;
    --theme-body-text-opacity-factor: 0.7;
}

.skin-fandomdesktop .CodeMirror{
    --codemirror-yellow: #a88d00;
    --codemirror-light-blue: #0096fb;
    --codemirror-blue: #08f;
    --codemirror-green: #290;
    --codemirror-red: #f50;
    --codemirror-dark-red: #a11;
    --codemirror-purple: #80c;
    --codemirror-pink: #e0e;
    --codemirror-light-gray: #929292;
    --codemirror-gray: #789797;
}

.mw-highlight {
    --pygments-background: #f4f3f4;
    --pygments-err: #f00;
    --pygments-c: #408080;
    --pygments-k: #008000;
    --pygments-o: #666;
    --pygments-ch: #408080;
    --pygments-cm: #408080;
    --pygments-cp: #b17300;
    --pygments-cpf: #408080;
    --pygments-c1: #408080;
    --pygments-cs: #408080;
    --pygments-gd: #a00000;
    --pygments-gr: #f00;
    --pygments-gh: #000080;
    --pygments-gi: #009500;
    --pygments-go: #808080;
    --pygments-gp: #000080;
    --pygments-gu: #800080;
    --pygments-gt: #04d;
    --pygments-kc: #008000;
    --pygments-kd: #008000;
    --pygments-kn: #008000;
    --pygments-kp: #008000;
    --pygments-kr: #008000;
    --pygments-kt: #b00040;
    --pygments-m: #666;
    --pygments-s: #ba2121;
    --pygments-na: #768826;
    --pygments-nb: #008000;
    --pygments-nc: #00f;
    --pygments-no: #800;
    --pygments-nd: #a2f;
    --pygments-ni: #7f7f7f;
    --pygments-ne: #d2413a;
    --pygments-nf: #00f;
    --pygments-nl: #818100;
    --pygments-nn: #00f;
    --pygments-nt: #008000;
    --pygments-nv: #19177c;
    --pygments-ow: #a2f;
    --pygments-w: #808080;
    --pygments-mb: #666;
    --pygments-mf: #666;
    --pygments-mh: #666;
    --pygments-mi: #666;
    --pygments-mo: #666;
    --pygments-sa: #ba2121;
    --pygments-sb: #ba2121;
    --pygments-sc: #ba2121;
    --pygments-dl: #ba2121;
    --pygments-sd: #ba2121;
    --pygments-s2: #ba2121;
    --pygments-se: #b62;
    --pygments-sh: #ba2121;
    --pygments-si: #b68;
    --pygments-sx: #008000;
    --pygments-sr: #b68;
    --pygments-s1: #ba2121;
    --pygments-ss: #19177c;
    --pygments-bp: #008000;
    --pygments-fm: #00f;
    --pygments-vc: #19177c;
    --pygments-vg: #19177c;
    --pygments-vi: #19177c;
    --pygments-vm: #19177c;
    --pygments-il: #666;
}

body {
    background: linear-gradient(to bottom, rgba(225, 133, 155, 0) 15%, rgba(225, 133, 155, 0.8)), url(/static/internal-background.png);
    min-height: 100vh;
    padding: 4px;
    margin: 0;
}

.page__main {
    border-radius: 3px;
    padding: 24px 36px;
}

.internal-footer {
    max-width: 700px;
}

.testimonial {
    color: #157937;
}
